# Ignore build artifacts
build/
dist/

# Ignore development files
node_modules/
npm-debug.log
yarn-error.log

# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore version control files
.git/
.gitignore