/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


$primary-color: #2364c2;
$secondary-color:#202737;
$nav-height: 7vh;
$side-container-width: 15vw;

/* VARIABLE DECLARATION */
:root{
    /* COLOR DEFINATION */
    --light-gray : #38363f;
    --dark-gray : #1c1b20;
    --light-green : #31a945;
    --light-blue : #2364c2;
    --dark-blue : #202737;
    --dark-icon : #6e6d72;
    --line-color : #2b2930;
    --container-radious : 10px;
}

/* GLOBAL DECLARATION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLING */
html,body{
    // background-color: #31a945;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: white;
    width: 100vw;
    background-color: var(--dark-gray);
}

/* NAVIGATION BAR SETTING */
nav{
    display: flex;
    flex: 1;
    position: relative;
    width: 100vw;
    height: 7vh;
    z-index: 9999;

    & .navbar{
        background-color: var(--light-gray);
        height: 7vh;
        width: 100vw;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid var(--line-color);

        & .logo-icon i,
        .search-bar .search-icon i,
        .notification i,
        .menu .hamburger i {
            color: var(--dark-icon);
            font-weight: 700;
            font-size: 2em;
        }
        
        & .nav-left{
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            /* height: 100%; */
            gap: 10px;
            margin-left: 30px;

            & .domain{
                font-weight: 700;
                font-size: 2em;
                color: $primary-color;
            }
        }

        & .nav-mid{
            display: flex;
            flex: 8;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0 50px;

            & .search-bar{
                display: flex;
                flex-direction: row;
                gap: 10px;
                /* justify-content: space-between; */
                align-items: center;
                // background-color: #38363f;
                // background-color: #fff;
                padding: 5px 0px 5px 10px;
                border-radius: 10px;
                // color: #fff;

                & input{
                    background-color: #38363f;
                    padding: 10px 40px 10px 5px;
                    outline: none;
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                }

                & i{
                    font-size: 1.4em;
                }
            }
            
        }
        & .nav-right{
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 30px;
            gap: 15px;
            align-items: center;

            & .account .account-avatar img{
                height: 38px;
                width: 38px;
                border-radius: 50%;
            }
        }

    }
    
}



/* MAIN BODY SECTION STARTS HERE */

/* MAIN CONTAINER STARTS HERE*/
.main-container{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    height: calc(100vh - $nav-height);
    width: 100%;
    // box-sizing: border-box;

    & .left-container{
        // flex: 1;
        background-color: var(--light-gray);
        // position: fixed;
        // left: 0;
        // height: 100vh;
        width: $side-container-width;

        & .category-menu{
            display: flex;
            flex-direction: column;
            /* gap: 12px; */

            & .category-title{
                font-size: 1.2em;
                text-transform: uppercase;
                font-weight: 600;
                color: var(--dark-icon);
                padding: 30px 30px 10px 30px;
            }

            & .menu-data .menu-list .menu-list-items{
                display: flex;
                flex-direction: column;
                gap: 10px;

                & li{
                    list-style: none;
                    font-size: 1em;
                    font-weight: 600;
                    color: #fff;
                    cursor: pointer;
                    height: 40px;
                    width: 100%;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: 0 0 0 30px;
                    overflow: hidden;
                    z-index: 1;

                    & span{
                        background-color: var(--dark-blue);
                        position: absolute;
                        left: 0;
                        height: 100%;
                        width: 0%;
                        z-index: -1;
                        transition: 0.3s all ease-in-out;
                    }

                }

                & li:hover span{
                    width: 100%;
                    border-left: 5px solid var(--light-blue);
                }
                
            }
        }

        & .topic{
            display: flex;
            flex-direction: column;

            & .topic-title{
                font-size: 1.2em;
                text-transform: uppercase;
                font-weight: 500;
                color: var(--dark-icon);
                padding: 10px 30px 10px 30px;
                letter-spacing: 1px;
            }

            & .topic-chips{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 8px;
                padding: 0 30px 0 ;

                & span{
                    /* width: 100%; */
                    padding: 8px 15px;
                    display: flex;
                    flex-wrap: wrap;
                    background-color: #121214;
                    border-radius: 15px;
                    font-size: 0.8em;
                    font-weight: 600;
                    text-transform: capitalize;
                    cursor: pointer;
                    color: #aaa;
                }
            }
        }

        & .left-container-footer{
            height: 6vh;
            width: $side-container-width;
            position: fixed;
            bottom: 0;
            /* background-color: #2364c2; */
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            border-top: 2px solid var(--line-color);

            & .social-network .social-media-links{
                display: flex;
                flex: 3;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                gap: 10px;
                margin: 50px;
            }

            & .help{
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;

                & h5{
                    font-weight: 500;
                    color: var(--dark-icon);
                }
                
            }


        }

    }

    & .middle-offset{
        padding:0 10vw;
        width: 70vw;
        // background-color: red;
        overflow-y: scroll;
        scrollbar-width: none;

    & .mid-container{
        display: flex;
        flex-direction: row;
        // position: relative;
        // z-index: 1;
        // background-color: red;
        // width: 50vw;
        // justify-content: center;
        // align-items: center;
        // height: 20vh;
        // overflow-y: scroll;
        // scrollbar-width: none;

        & .mid-container-left{
            display: flex;
            flex: 2;
            flex-direction: row;
            flex-wrap: wrap;
            /* align-items: center; */
            // justify-content: center;
            // background-color: var(--dark-gray);
            // position: absolute;
        
            & .mid-container-top-left {
                margin: 20px ;
                height: 30vh;
                width: 90%;
                background-color: var(--light-gray);
                // background-color: #fff;
                border-radius: 10px;
                
                & .create-post{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding: 10px;

                    & .create-post-top{
                        display: flex;
                        // flex: 1;
                        /* background-color: red; */
                        flex-direction: row;
                        width: 100%;
                        height: 10vh;
                        justify-content: space-between;
                        /* gap: 20px; */
                        padding: 0 20px;
                        align-items: center;
                        border-bottom: 2px solid var(--line-color);

                        & .make-post{
                            display: flex;
                            flex-direction: row;
                            gap: 15px;
                            // flex: 1;
                            padding: 20px;
                            justify-content: center;
                            align-items: center;
                            border-right: 2px solid var(--line-color);
                            /* background-color: red; */

                            & i{
                                color: var(--light-blue);
                                font-size: 1.1em;
                                font-weight: 600;
                            }

                            & span {
                                font-weight: 600;
                            }
                        }

                        & .photo{
                            display: flex;
                            // flex: 1;
                            gap: 15px;
                            /* flex: 1; */
                            padding: 20px;
                            justify-content: center;
                            align-items: center;
                            border-right: 2px solid var(--line-color);
                            padding: 20px;
                            /* background-color: blue; */
                            border-right: 2px solid var(--line-color);

                            & span,i {
                                color: #aaa;
                                font-weight: 600;
                            }
                        }

                        & .video{
                            display: flex;
                            flex: 1;
                            padding: 20px;
                            /* background-color: orange; */
                            gap: 15px;
                            /* flex: 1; */
                            padding: 20px;
                            justify-content: center;
                            align-items: center;
                            border-right: 2px solid var(--line-color);
                            
                            & span,i{
                                color: #aaa;
                                font-weight: 600;
                            }
                        }

                        & .poll{
                            display: flex;
                            flex: 1;
                            /* background-color: lightgreen; */
                            padding: 20px;
                            gap: 15px;
                            /* flex: 1; */
                            padding: 20px;
                            justify-content: center;
                            align-items: center;
                            /* border-right: 2px solid var(--line-color); */

                            & span, i{
                                color: #aaa;
                                font-weight: 600;
                            }
                        }

                    }

                    & .create-post-mid{
                        display: flex;
                        // flex: 4;
                        height: 10vh;
                        width: 100%;
                        // background-color: blue; 
                        flex-direction: row;
                        gap: 20px;
                        border-bottom: 2px solid var(--line-color);

                        & .user-avatar{
                            /* padding: 20px; */
                            display: flex;
                            flex: 1;
                            justify-content: center;
                            align-items: center;

                            & img{
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                            }
                        }
                        
                        & .textfield {
                            display: flex;
                            flex: 9;
                            height: 100%;
                            width: 100%;

                            & input{
                                /* padding: 40px ; */
                                height: 100%;
                                width: 100%;
                                background-color: var(--light-gray);
                                color: #eee;
                                outline: none;
                                border: none;
                                font-size: 1em;
                                font-weight: 500;
                                flex-wrap: wrap;
                            }
                            
                        }
                    }
                    & .create-post-bottom{
                        display: flex;
                        // flex: 1;
                        /* background-color: green; */
                        flex-direction: row;
                        width: 100%;
                        height: 10vh;
                        // height: 100px;
                        justify-content: space-between;
                        /* gap: 20px; */
                        padding: 0 20px;
                        align-items: center;
                        border-radius: 0 10px 10px 0;

                        & .fellings{
                            display: flex;
                            justify-content: center;
                            gap: 5px;
                        }

                        & .location{
                            display: flex;

                        }

                        & .extras{
                            display: flex;

                        }

                        & .sendBtn{
                            display: flex;
                        }
                    }                   
                }
            }

            & .mid-container-bottom-left {

                & .post{
                    height: 20vw;
                    width: 50vh;
                    margin: 20px;
                    border-radius: var(--container-radious);
                    background-color: var(--light-gray);
                }
            }
        }

        & .mid-container-right{
            flex: 1;
            background-color: pink;
        }

        & .mid-container-bottom{
            display: flex;
            flex-direction: column;
        }
    }

    }

    & .mid-container::-webkit-scrollbar{
        display: none;
    }

    & .right-container{
        // flex: 1;
        /* background-color: var(--light-gray); */
        background-color: green;
        padding: 30px;
        // position: fixed;
        right: 0;
        // height: 100vh;
        width: $side-container-width;
    }
}