$primary-color: #2364c2;
$secondary-color:#202737;
$nav-height: 7vh;
$side-container-width: 15vw;
$side-container-height: 93vh;

$create-post-container-height: 24vh;
$create-post-individual-height: 5vh;
